.test {
  cursor: pointer;
  padding: 5px !important;
  position: relative;
  top: -5px;
  border-radius: 2px;
  background-color: #E4827D;
  color: #FFF;
  width: 100%;
  text-align: center;
}

.test:hover {
  background-color: #ff0000;
}

.description{
	font-size :11px;
}